<html>
  <head>
    <meta charset="utf-8">
    <title>{{ page.title }}</title>
    <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/style.css" />
    <link rel="stylesheet" href="/css/lightbox.css"  />
  </head>
  <body>
    <div class="container">
      {% include navigation.html %}
    </div>

    <!-- <div class="container"> -->
      {{ content }}
    <!-- </div> -->


    <script src="/js/lightbox-plus-jquery.js"></script>
    <script>
      var windowWidth = $(window).width();
      var windowHeight = $(window).height();
      //windowsize - 50px
      var windowHeightFixed = windowHeight * 0.6 ;
      var windowWidthFixed = windowWidth * 0.6;
      lightbox.option({
        'resizeDuration': 200,
        'wrapAround': true,
        'disableScrolling': false,
        'maxHeight': windowHeightFixed,
        'maxWidth': windowWidthFixed,
      })
    </script>
  </body>
</html>
